{% extends 'base.html' %}

{% block title %} Password Reset {% endblock title%}

{% block server_messages %}
{% for key, value in form.errors.items %}
<li class="bg-red-100 border-2 border-red-600 flex items-center mb-1 p-2 rounded md:w-2/3">
    <span class="grow leading-none mr-2 text-red-600 text-md tracking-wide">{{value}}</span>
    <span class="material-symbols-rounded cursor-pointer flex-none leading-none text-2xl text-red-600" onclick="removeMessage(this)">close</span>
</li>
{% endfor %}
{% endblock server_messages %}

{% block main %}
<form method="post" class="container">
    {% csrf_token %}

    <h1 class="form-title">Reset Password</h1>
    
    <div class="input-container">
        <input type="email" name="email" placeholder="Enter Your Email" class="peer bg-transparent w-full p-2 text-lg tracking-wider border-2 border-gray-300 rounded-md focus:border-purple-600 outline-none" required>
        <span class="input-label">Email</span>
    </div>

    <button type="submit" class="primary-btn w-full my-8"><span class="material-symbols-rounded leading-none">done</span> Update Password</button>
</form>
{% endblock main %}